<div class="wrapper">
  <div class="column">
    <div class="player-panel">
      <div class="profile">
        <div class="profile-picture">
        </div>
        <div class="profile-stats" *ngIf="localPlayers.length">
          <div class="profile-name">
            <h2>Name: {{localPlayers[0].name}}</h2>
          </div>
          <div class="profile-health">
            <h2>Hp: {{localPlayers[0].hp}}</h2>
          </div>
          <div class="profile-turn">
            <h2>Initiative: {{localPlayers[0].initiative}}</h2>
          </div>
          <div class="profile-prestige">
            <h2>Prestige: {{localPlayers[0].prestige}}</h2>
          </div>
        </div>
      </div>
      <div class="hand">
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
      </div>
    </div>
    <div class="player-panel">
      <div class="profile">
        <div class="profile-picture">
        </div>
        <div class="profile-stats" *ngIf="localPlayers.length">
          <div class="profile-name">
            <h2>Name: {{localPlayers[1].name}}</h2>
          </div>
          <div class="profile-health">
            <h2>Health: {{localPlayers[1].hp}}</h2>
          </div>
          <div class="profile-turn">
            <h2>Initiative: {{localPlayers[1].initiative}}</h2>
          </div>
          <div class="profile-prestige">
            <h2>Prestige: {{localPlayers[1].prestige}}</h2>
          </div>
        </div>
      </div>
      <div class="hand">
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h1>Cutthroat Caverns</h1>
    <div class="battle-zone">
      <div class="monster">
        <div class="monster-name">
          <h2>Beast Name</h2>
          <h2 (click)="dealCards()">Deal cards</h2>
        </div>
        <div class="monster-image">
        </div>
        <div class="monster-hp">
          <h3>Health</h3>
        </div>
        <div class="monster-prestige">
          <h3>Prestige Points</h3>
        </div>
      </div>
      <div class="play-zone">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="player-panel">
      <div class="profile">
        <div class="profile-picture">
        </div>
        <div class="profile-stats" *ngIf="localPlayers.length">
          <div class="profile-name">
            <h2>Name: {{localPlayers[2].name}}</h2>
          </div>
          <div class="profile-health">
            <h2>Health: {{localPlayers[2].hp}}</h2>
          </div>
          <div class="profile-turn">
            <h2>Initiative: {{localPlayers[2].initiative}}</h2>
          </div>
          <div class="profile-prestige">
            <h2>Prestige: {{localPlayers[2].initiative}}</h2>
          </div>
        </div>
      </div>
      <div class="hand">
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
      </div>
    </div>
    <div class="player-panel">
      <div class="profile">
        <div class="profile-picture">
        </div>
        <div class="profile-stats" *ngIf="localPlayers.length">
          <div class="profile-name">
            <h2>Name: {{localPlayers[3].name}}</h2>
          </div>
          <div class="profile-health">
            <h2>Health: {{localPlayers[3].hp}}</h2>
          </div>
          <div class="profile-turn">
            <h2>Initiative: {{localPlayers[3].initiative}}</h2>
          </div>
          <div class="profile-prestige">
            <h2>Prestige: {{localPlayers[3].prestige}}</h2>
          </div>
        </div>
      </div>
      <div class="hand">
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
        <div class="player-card">
        </div>
      </div>
    </div>
</div>
