

@font-face {
    font-family: magicBoy;
    src: url('../../fonts/magicy.ttf');
}

@font-face {
  font-family: gothicBoy;
  src: ('../../fonts/blackcastle.ttf');
}


.column{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid black;
  height: 100%;
  background-color: lightblue;
}
.column1, .column3{
  width: 35%;
}
.column2{
  width: 30%;
}
.wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: green;
}
.player-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  height: 50%;
  width: 100%;
  align-items: flex-end;
}

.hand {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}
.player-card{
  border: 1px solid black;
  background-image: url('http://2.bp.blogspot.com/-hbtq61HGDJk/T2HQ-e4ieTI/AAAAAAAABNA/wvak1oNrur8/s1600/Seamless+marble+texture+%252814%2529.jpg');
  width: 100px;
  height: 150px;
  border-radius: 7px;
  border-left: 2px solid ivory;
  border-top: 2px solid ivory;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  transition: all .2s ease-in-out;
  font-family: magicBoy;
  font-size: 1.4em;
  text-align: center;
  box-shadow: 2px 2px 8px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
}
.player-card:hover{
  transform: scale(1.3);
}

.profile{
  width: 100%;
  display: flex;
}
.profile-picture {
  height: 450px;
  border-radius: 5px;
  width: 340px;
  margin: 10px;
  img {
    height: 410px;
    width: 305px;
    border-radius: 5px;
  }
}

.profile-stats {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-name {
  height: 15%;
  width: 100%;
}
.profile-health {
  height: 15%;
  width: 100%;
}
.profile-turn {
  height: 15%;
  width: 100%;
}
.profile-prestige {
  height: 15%;
  width: 100%;
}

h1{
  text-align: center;
  font-size: 80px;
  font-family: gothic;
  padding: 20px;

}

.battle-zone{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.monster {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 70%;
  width: 100%;
  .monster-name{
    height:10%;
    width: 100%;
    border: 1px solid black;
  }
  .monster-image {
    align-self: center;
    width: 80%;
    height: 75%;
    border: 1px solid black;
  }
  .monster-hp{
    height:8%;
    width: 80%;
    border: 1px solid black;
    align-self: center;
  }
  .monster-prestige{
    height:7%;
    width: 80%;
    border: 1px solid black;
    align-self: center;
  }
}
.play-zone{
  align-self: flex-start;
  width: 100%;
  height: 200px;
  flex-grow: 1;
  border: 1px solid red;
}
.battle-zone h2, h3 {
  text-align: center;
}

.monster-image img{
  width: 100%;
  height: 100%;
}

#deal {
  width: 30%;
  height: 5%;
  font-size: 30px;
  font-family: magicBoy;
  background-image: url('http://2.bp.blogspot.com/-hbtq61HGDJk/T2HQ-e4ieTI/AAAAAAAABNA/wvak1oNrur8/s1600/Seamless+marble+texture+%252814%2529.jpg');
  align-self: center;
}

button {
    background-image: url('http://2.bp.blogspot.com/-hbtq61HGDJk/T2HQ-e4ieTI/AAAAAAAABNA/wvak1oNrur8/s1600/Seamless+marble+texture+%252814%2529.jpg');
    border-top: ivory 2px solid;
    border-left:ivory 2px solid;
    border-bottom: grey 2px solid;
    border-right:grey 2px solid;
    border-radius: 5px;
}

.item-area {
  display: flex;
  border: 1px solid purple;
  height: 50%;
  width: 55%;
  margin-right: 10%;
  margin-top: 10%;
}

.player-card img {
  width: 60%;
  height: auto;
}

.cardBtns {
  width: 170px;
  font-family: gothicBoy;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-container {
  display: flex;
  width: 100%;


}
