<div class="wrapper">
  <div class="column">
    <div class="player-panel" >
      <div class="profile" *ngIf="localPlayers.length">
        <div class="profile-picture">
          <img src={{localPlayers[0].character.image}} alt="" />
        </div>
        <div class="profile-stats">
          <div class="profile-name">
            <h2>Name: {{localPlayers[0].name}}</h2>
          </div>
          <div class="profile-health">
            <h2>Hp: {{localPlayers[0].hp}}</h2>
          </div>
          <div class="profile-turn">
            <h2>Initiative: {{localPlayers[0].initiative}}</h2>
          </div>
          <div class="profile-prestige">
            <h2>Prestige: {{localPlayers[0].prestige}}</h2>
          </div>
          <div class="profile-draw-max-hand">
            <button type="button" name="button" (click)="drawToMaxHand(localPlayers[0])">Draw Up to Max Hand</button>
            <br>
            <button type="button" name="button" (click)="discard(localPlayers[0])">Discard</button>
          </div>
        </div>
      </div>
      <div class="hand" *ngIf="localPlayers[0].hand.length > 1">
        <div class="player-card" (click)="useCard(localPlayers[0].hand[1], localPlayers[0])">
          <p>{{localPlayers[0].hand[1].name}}</p>
        </div>
        <div class="player-card" (click)="useCard(localPlayers[0].hand[2], localPlayers[0])">
          <p>{{localPlayers[0].hand[2].name}}</p>
        </div>
        <div class="player-card" (click)="useCard(localPlayers[0].hand[3], localPlayers[0])">
          <p>{{localPlayers[0].hand[3].name}}</p>
        </div>
        <div class="player-card" (click)="useCard(localPlayers[0].hand[4], localPlayers[0])">
          <p>{{localPlayers[0].hand[4].name}}</p>
        </div>
        <div class="player-card" (click)="useCard(localPlayers[0].hand[5], localPlayers[0])">
          <p>{{localPlayers[0].hand[5].name}}</p>
        </div>
        <div class="player-card" (click)="useCard(localPlayers[0].hand[6], localPlayers[0])">
          <p>{{localPlayers[0].hand[6].name}}</p>
        </div>
        <div class="player-card" (click)="useCard(localPlayers[0].hand[7], localPlayers[0])">
          <p>{{localPlayers[0].hand[7].name}}</p>
        </div>
      </div>
    </div>
    <div class="player-panel" >
      <div class="profile" *ngIf="localPlayers.length">
        <div class="profile-picture">
          <img src={{localPlayers[1].character.image}} alt="" />
        </div>
        <div class="profile-stats">
          <div class="profile-name">
            <h2>Name: {{localPlayers[1].name}}</h2>
          </div>
          <div class="profile-health">
            <h2>Health: {{localPlayers[1].hp}}</h2>
          </div>
          <div class="profile-turn">
            <h2>Initiative: {{localPlayers[1].initiative}}</h2>
          </div>
          <div class="profile-prestige">
            <h2>Prestige: {{localPlayers[1].prestige}}</h2>
          </div>
          <div class="profile-draw-max-hand">
            <button type="button" name="button" (click)="drawToMaxHand(localPlayers[1])">Draw Up to Max Hand</button>
            <br>
            <button type="button" name="button" (click)="discard(localPlayers[1])">Discard</button>
          </div>
        </div>
      </div>
      <div class="hand"  *ngIf="localPlayers[1].hand.length > 1">
        <div class="player-card" (click)="useCard(localPlayers[1].hand[1], localPlayers[1])">
          {{localPlayers[1].hand[1].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[1].hand[2], localPlayers[1])">
          {{localPlayers[1].hand[2].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[1].hand[3], localPlayers[1])">
          {{localPlayers[1].hand[3].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[1].hand[4], localPlayers[1])">
          {{localPlayers[1].hand[4].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[1].hand[5], localPlayers[1])">
          {{localPlayers[1].hand[5].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[1].hand[6], localPlayers[1])">
          {{localPlayers[1].hand[6].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[1].hand[7], localPlayers[1])">
          {{localPlayers[1].hand[7].name}}
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h1>Cutthroat Caverns</h1>
    <div class="battle-zone">
      <div class="monster">
        <div class="monster-name">
          <h2>{{encounter.name}}</h2>
          <h2 (click)="dealCards()">Deal cards</h2>
        </div>
        <div class="monster-image">
        </div>
        <div class="monster-hp">
          <h3>HP: {{encounter.hp[1]}}</h3>
        </div>
        <div class="monster-prestige">
          <h3>Points: {{encounter.prestige}}</h3>
        </div>
      </div>
      <div class="play-zone">
        <div class="hand">
          <div class="player-card" *ngIf="localPlayers[0].setAttackCard">
            {{localPlayers[0].setAttackCard.name}}
          </div>
          <div class="player-card" *ngIf="localPlayers[1].setAttackCard">
            {{localPlayers[1].setAttackCard.name}}
          </div>
          <div class="player-card" *ngIf="localPlayers[2].setAttackCard">
            {{localPlayers[2].setAttackCard.name}}
          </div>
          <div class="player-card" *ngIf="localPlayers[3].setAttackCard">
            {{localPlayers[3].setAttackCard.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="player-panel" >
      <div class="profile" *ngIf="localPlayers.length">
        <div class="profile-picture">
          <img src={{localPlayers[2].character.image}} alt="" />
        </div>
        <div class="profile-stats" >
          <div class="profile-name">
            <h2>Name: {{localPlayers[2].name}}</h2>
          </div>
          <div class="profile-health">
            <h2>Health: {{localPlayers[2].hp}}</h2>
          </div>
          <div class="profile-turn">
            <h2>Initiative: {{localPlayers[2].initiative}}</h2>
          </div>
          <div class="profile-prestige">
            <h2>Prestige: {{localPlayers[2].initiative}}</h2>
          </div>
          <div class="profile-draw-max-hand">
            <button type="button" name="button" (click)="drawToMaxHand(localPlayers[2])">Draw Up to Max Hand</button>
            <br>
            <button type="button" name="button" (click)="discard(localPlayers[2])">Discard</button>
          </div>
        </div>
      </div>
      <div class="hand" *ngIf="localPlayers[2].hand.length > 1">
        <div class="player-card" (click)="useCard(localPlayers[2].hand[1], localPlayers[2])">
          {{localPlayers[2].hand[1].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[2].hand[2], localPlayers[2])">
          {{localPlayers[2].hand[2].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[2].hand[3], localPlayers[2])">
          {{localPlayers[2].hand[3].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[2].hand[4], localPlayers[2])">
          {{localPlayers[2].hand[4].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[2].hand[5], localPlayers[2])">
          {{localPlayers[2].hand[5].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[2].hand[6], localPlayers[2])">
          {{localPlayers[2].hand[6].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[2].hand[7], localPlayers[2])">
          {{localPlayers[2].hand[7].name}}
        </div>
      </div>
    </div>
    <div class="player-panel" >
      <div class="profile" *ngIf="localPlayers.length">
          <div class="profile-picture">
            <img src={{localPlayers[3].character.image}} alt="" />
          </div>
          <div class="profile-stats" >
            <div class="profile-name">
              <h2>Name: {{localPlayers[3].name}}</h2>
            </div>
            <div class="profile-health">
              <h2>Health: {{localPlayers[3].hp}}</h2>
            </div>
            <div class="profile-turn">
              <h2>Initiative: {{localPlayers[3].initiative}}</h2>
            </div>
            <div class="profile-prestige">
              <h2>Prestige: {{localPlayers[3].prestige}}</h2>
            </div>
            <div class="profile-draw-max-hand">
              <button type="button" name="button" (click)="drawToMaxHand(localPlayers[3])">Draw Up to Max Hand</button>
              <br>
              <button type="button" name="button" (click)="discard(localPlayers[3])">Discard</button>
            </div>
          </div>
        </div>
      <div class="hand" *ngIf="localPlayers[3].hand.length > 1">
        <div class="player-card" (click)="useCard(localPlayers[3].hand[1], localPlayers[3])">
          {{localPlayers[3].hand[1].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[3].hand[2], localPlayers[3])">
          {{localPlayers[3].hand[2].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[3].hand[3], localPlayers[3])">
          {{localPlayers[3].hand[3].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[3].hand[4], localPlayers[3])">
          {{localPlayers[3].hand[4].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[3].hand[5], localPlayers[3])">
          {{localPlayers[3].hand[5].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[3].hand[6], localPlayers[3])">
          {{localPlayers[3].hand[6].name}}
        </div>
        <div class="player-card" (click)="useCard(localPlayers[3].hand[7], localPlayers[3])">
          {{localPlayers[3].hand[7].name}}
        </div>
      </div>
    </div>
  </div>
</div>
