<div class="wrapper">
  <div class="column column1">
    <div class="player-panel" >
      <div class="profile" *ngIf="localPlayers.length">
        <div class="profile-picture" (click)="setActionCard(localPlayers[0])">
          <img src={{localPlayers[0].character.image}} alt="" />
        </div>

        <div class="profile-container">
          <div class="profile-stats">
            <div class="profile-name">
              <h2>Name: {{localPlayers[0].name}}</h2>
            </div>
            <div class="profile-health" (click)="usePotion(localPlayers[0])">
              <h2>Hp: {{localPlayers[0].hp}}</h2>
            </div>
            <div class="profile-turn">
              <h2>Initiative: {{localPlayers[0].initiative}}</h2>
            </div>
            <div class="profile-prestige">
              <h2>Prestige: {{localPlayers[0].prestige}}</h2>
            </div>
            <div class="profile-draw-max-hand">
              <button class="cardBtns" type="button" name="button" (click)="drawToMaxHand(localPlayers[0])">Draw Up to Max Hand</button>
              <button class="cardBtns" type="button" name="button" (click)="discard(localPlayers[0])">Draw New Hand</button>
            </div>
          </div>
          <div class="item-area" *ngIf="localPlayers[0].setItemCard">
            <div class="player-card" (click)="selectThisPotion(localPlayers[0])">
              <p>{{localPlayers[0].setItemCard.name}}</p>
              <img src={{localPlayers[0].setItemCard.image}} alt="item">
            </div>
          </div>
        </div>
      </div>
      <div class="hand" *ngIf="localPlayers[0].hand.length > 1">

        <div class="player-card" *ngIf="localPlayers[0].hand[1]" (click)="useCard(localPlayers[0].hand[1], localPlayers[0])">
          <p>{{localPlayers[0].hand[1].name}}</p>
          <img src="{{localPlayers[0].hand[1].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[0].hand[2]" (click)="useCard(localPlayers[0].hand[2], localPlayers[0])">
          <p>{{localPlayers[0].hand[2].name}}</p>
          <img src="{{localPlayers[0].hand[2].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[0].hand[3]" (click)="useCard(localPlayers[0].hand[3], localPlayers[0])">
          <p>{{localPlayers[0].hand[3].name}}</p>
          <img src="{{localPlayers[0].hand[3].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[0].hand[4]" (click)="useCard(localPlayers[0].hand[4], localPlayers[0])">
          <p>{{localPlayers[0].hand[4].name}}</p>
          <img src="{{localPlayers[0].hand[4].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[0].hand[5]" (click)="useCard(localPlayers[0].hand[5], localPlayers[0])">
          <p>{{localPlayers[0].hand[5].name}}</p>
          <img src="{{localPlayers[0].hand[5].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[0].hand[6]" (click)="useCard(localPlayers[0].hand[6], localPlayers[0])">
          <p>{{localPlayers[0].hand[6].name}}</p>
          <img src="{{localPlayers[0].hand[6].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[0].hand[7]" (click)="useCard(localPlayers[0].hand[7], localPlayers[0])">
          <p>{{localPlayers[0].hand[7].name}}</p>
          <img src="{{localPlayers[0].hand[7].image}}" alt="">
        </div>
      </div>
    </div>
    <div class="player-panel" >
      <div class="profile" *ngIf="localPlayers.length">
        <div class="profile-picture" (click)="setActionCard(localPlayers[1])">
          <img src={{localPlayers[1].character.image}} alt="" />
        </div>

        <div class="profile-container">
          <div class="profile-stats">
            <div class="profile-name">
              <h2>Name: {{localPlayers[1].name}}</h2>
            </div>
            <div class="profile-health" (click)="usePotion(localPlayers[1])">
              <h2>Health: {{localPlayers[1].hp}}</h2>
            </div>
            <div class="profile-turn">
              <h2>Initiative: {{localPlayers[1].initiative}}</h2>
            </div>
            <div class="profile-prestige">
              <h2>Prestige: {{localPlayers[1].prestige}}</h2>
            </div>
            <div class="profile-draw-max-hand">
              <button class="cardBtns" type="button" name="button" (click)="drawToMaxHand(localPlayers[1])">Draw Up to Max Hand</button>
              <button class="cardBtns" type="button" name="button" (click)="discard(localPlayers[1])">Draw New Hand</button>
            </div>
          </div>
          <div class="item-area" *ngIf="localPlayers[1].setItemCard">
            <div class="player-card" (click)="selectThisPotion(localPlayers[1])">
              <p>{{localPlayers[1].setItemCard.name}}</p>
              <img src={{localPlayers[1].setItemCard.image}} alt="item">
            </div>
          </div>
        </div>
      </div>
      <div class="hand"  *ngIf="localPlayers[1].hand.length > 1">

        <div class="player-card" *ngIf="localPlayers[0].hand[1]" (click)="useCard(localPlayers[1].hand[1], localPlayers[1])">
          {{localPlayers[1].hand[1].name}}
          <img src="{{localPlayers[1].hand[1].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[1].hand[2]" (click)="useCard(localPlayers[1].hand[2], localPlayers[1])">
          {{localPlayers[1].hand[2].name}}
          <img src="{{localPlayers[1].hand[2].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[1].hand[3]" (click)="useCard(localPlayers[1].hand[3], localPlayers[1])">
          {{localPlayers[1].hand[3].name}}
          <img src="{{localPlayers[1].hand[3].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[1].hand[4]" (click)="useCard(localPlayers[1].hand[4], localPlayers[1])">
          {{localPlayers[1].hand[4].name}}
          <img src="{{localPlayers[1].hand[4].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[1].hand[5]" (click)="useCard(localPlayers[1].hand[5], localPlayers[1])">
          {{localPlayers[1].hand[5].name}}
          <img src="{{localPlayers[1].hand[5].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[1].hand[6]" (click)="useCard(localPlayers[1].hand[6], localPlayers[1])">
          {{localPlayers[1].hand[6].name}}
          <img src="{{localPlayers[1].hand[6].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[1].hand[7]" (click)="useCard(localPlayers[1].hand[7], localPlayers[1])">
          {{localPlayers[1].hand[7].name}}
          <img src="{{localPlayers[1].hand[7].image}}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="column column2">
    <h1 id="head">Cutthroat Caverns</h1>
    <div class="battle-zone">
      <div class="monster">
        <div class="monster-name">
          <h2>{{encounter.name}}</h2>
        </div>
        <div class="monster-image">
          <img src="{{encounter.image}}" alt="ripper">
        </div>
        <div class="monster-hp">
          <h3>HP: {{encounter.hp[1]}}</h3>
        </div>
        <div class="monster-prestige">
          <h3>Prestige: {{encounter.prestige}}</h3>
        </div>
      </div>
      <div class="battle-buttons">
        <button id="deal" (click)="dealCards()">Deal cards</button>
        <button id="deal" (click)="play()">Attack</button>
      </div>
      <div class="play-zone">
        <div class="hand">
          <div class="player-card" *ngIf="localPlayers[0].setAttackCard">
            <h4>{{localPlayers[0].setAttackCard.name}}</h4>
            <img src="{{localPlayers[0].setAttackCard.image}}" alt="logo">
            <p>{{localPlayers[0].name}}</p>
          </div>
          <div class="player-card" *ngIf="localPlayers[1].setAttackCard">
            <h4>{{localPlayers[1].setAttackCard.name}}</h4>
            <img src="{{localPlayers[1].setAttackCard.image}}" alt="logo">
            <p>{{localPlayers[1].name}}</p>
          </div>
          <div class="player-card" *ngIf="localPlayers[2].setAttackCard">
            <h4>{{localPlayers[2].setAttackCard.name}}</h4>
            <img src="{{localPlayers[2].setAttackCard.image}}" alt="logo">
            <p>{{localPlayers[2].name}}</p>
          </div>
          <div class="player-card" *ngIf="localPlayers[3].setAttackCard">
            <h4>{{localPlayers[3].setAttackCard.name}}</h4>
            <img src="{{localPlayers[3].setAttackCard.image}}" alt="logo">
            <p>{{localPlayers[3].name}}</p>
          </div>
        </div>
        <div class="hand">

          <div class="player-card" *ngIf="localPlayers[0].setActionCard">
            <h4>{{localPlayers[0].setActionCard.name}}</h4>
          </div>
          <div class="player-card" *ngIf="localPlayers[1].setActionCard">
            <h4>{{localPlayers[1].setActionCard.name}}</h4>
          </div>
          <div class="player-card" *ngIf="localPlayers[2].setActionCard">
            <h4>{{localPlayers[2].setActionCard.name}}</h4>
          </div>
          <div class="player-card" *ngIf="localPlayers[3].setActionCard">
            <h4>{{localPlayers[3].setActionCard.name}}</h4>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="column column3">
    <div class="player-panel" >
      <div class="profile" *ngIf="localPlayers.length">
        <div class="profile-picture" (click)="setActionCard(localPlayers[3])">
          <img src={{localPlayers[2].character.image}} alt="" />
        </div>
        <div class="profile-container">
          <div class="profile-stats" >
            <div class="profile-name">
              <h2>Name: {{localPlayers[2].name}}</h2>
            </div>
            <div class="profile-health" (click)="usePotion(localPlayers[2])">
              <h2>Health: {{localPlayers[2].hp}}</h2>
            </div>
            <div class="profile-turn">
              <h2>Initiative: {{localPlayers[2].initiative}}</h2>
            </div>
            <div class="profile-prestige">
              <h2>Prestige: {{localPlayers[2].prestige}}</h2>
            </div>
            <div class="profile-draw-max-hand">
              <button class="cardBtns" type="button" name="button" (click)="drawToMaxHand(localPlayers[2])">Draw Up to Max Hand</button>
              <button class="cardBtns" type="button" name="button" (click)="discard(localPlayers[2])">Draw New Hand</button>
            </div>
          </div>
          <div class="item-area" *ngIf="localPlayers[2].setItemCard">
            <div class="player-card" (click)="selectThisPotion(localPlayers[2])">
              <p>{{localPlayers[2].setItemCard.name}}</p>
              <img src={{localPlayers[2].setItemCard.image}} alt="item">
            </div>
          </div>
        </div>
    </div>
      <div class="hand" *ngIf="localPlayers[2].hand.length > 1">

        <div class="player-card" *ngIf="localPlayers[2].hand[1]" (click)="useCard(localPlayers[2].hand[1], localPlayers[2])">
          {{localPlayers[2].hand[1].name}}
          <img src="{{localPlayers[2].hand[1].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[2].hand[2]" (click)="useCard(localPlayers[2].hand[2], localPlayers[2])">
          {{localPlayers[2].hand[2].name}}
          <img src="{{localPlayers[2].hand[2].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[2].hand[3]" (click)="useCard(localPlayers[2].hand[3], localPlayers[2])">
          {{localPlayers[2].hand[3].name}}
          <img src="{{localPlayers[2].hand[3].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[2].hand[4]" (click)="useCard(localPlayers[2].hand[4], localPlayers[2])">
          {{localPlayers[2].hand[4].name}}
          <img src="{{localPlayers[2].hand[4].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[2].hand[5]" (click)="useCard(localPlayers[2].hand[5], localPlayers[2])">
          {{localPlayers[2].hand[5].name}}
          <img src="{{localPlayers[2].hand[5].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[2].hand[6]" (click)="useCard(localPlayers[2].hand[6], localPlayers[2])">
          {{localPlayers[2].hand[6].name}}
          <img src="{{localPlayers[2].hand[6].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[2].hand[7]" (click)="useCard(localPlayers[2].hand[7], localPlayers[2])">
          {{localPlayers[2].hand[7].name}}
          <img src="{{localPlayers[2].hand[7].image}}" alt="">
        </div>
      </div>
    </div>
    <div class="player-panel" >
      <div class="profile" *ngIf="localPlayers.length">
          <div class="profile-picture" (click)="setActionCard(localPlayers[3])">
            <img src={{localPlayers[3].character.image}} alt="" />
          </div>
        <div class="profile-container">
          <div class="profile-stats" >
            <div class="profile-name">
              <h2>Name: {{localPlayers[3].name}}</h2>
            </div>
            <div class="profile-health" (click)="usePotion(localPlayers[3])">
              <h2>Health: {{localPlayers[3].hp}}</h2>
            </div>
            <div class="profile-turn">
              <h2>Initiative: {{localPlayers[3].initiative}}</h2>
            </div>
            <div class="profile-prestige">
              <h2>Prestige: {{localPlayers[3].prestige}}</h2>
            </div>


            <div class="profile-draw-max-hand">
              <button class="cardBtns" type="button" name="button" (click)="drawToMaxHand(localPlayers[3])">Draw Up to Max Hand</button>
              <button class="cardBtns" type="button" name="button" (click)="discard(localPlayers[3])">Draw New Hand</button>
            </div>
          </div>

          <div class="item-area" *ngIf="localPlayers[3].setItemCard">
            <div class="player-card" (click)="selectThisPotion(localPlayers[3])">
              <p>{{localPlayers[3].setItemCard.name}}</p>
              <img src={{localPlayers[3].setItemCard.image}} alt="item">
            </div>
          </div>

        </div>
      </div>
      <div class="hand" *ngIf="localPlayers[3].hand.length > 1">
        <div class="player-card" *ngIf="localPlayers[0].hand[1]" (click)="useCard(localPlayers[3].hand[1], localPlayers[3])">
          {{localPlayers[3].hand[1].name}}
          <img src="{{localPlayers[3].hand[1].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[3].hand[2]" (click)="useCard(localPlayers[3].hand[2], localPlayers[3])">
          {{localPlayers[3].hand[2].name}}
          <img src="{{localPlayers[3].hand[2].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[3].hand[3]" (click)="useCard(localPlayers[3].hand[3], localPlayers[3])">
          {{localPlayers[3].hand[3].name}}
          <img src="{{localPlayers[3].hand[3].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[3].hand[4]" (click)="useCard(localPlayers[3].hand[4], localPlayers[3])">
          {{localPlayers[3].hand[4].name}}
          <img src="{{localPlayers[3].hand[4].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[3].hand[5]" (click)="useCard(localPlayers[3].hand[5], localPlayers[3])">
          {{localPlayers[3].hand[5].name}}
          <img src="{{localPlayers[3].hand[5].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[3].hand[6]" (click)="useCard(localPlayers[3].hand[6], localPlayers[3])">
          {{localPlayers[3].hand[6].name}}
          <img src="{{localPlayers[3].hand[6].image}}" alt="">
        </div>
        <div class="player-card" *ngIf="localPlayers[3].hand[7]" (click)="useCard(localPlayers[3].hand[7], localPlayers[3])">
          {{localPlayers[3].hand[7].name}}
          <img src="{{localPlayers[3].hand[7].image}}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
