<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/landing-page"><b>Play Game</b></a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/leaderboard">Leaderboard</a></li>
    </ul>
  </div>
</nav>

<div class="rule-wrap">
  <div class="panel-body">
    <div id='body'>
      <div class="panel-header">
        <h2>Object Of the Game</h2>
      </div>
      <h3>Work together to defeat all the creatures revealed in the encounter deck. Without teamwork, none of you will survive and there will be no winner. Let me stress that.If you mess with each other too soon, or too much, you will all perish.</h3>
      <h3>However, to win, you must do whatever it takes to make sure YOU land the final blow that kills the most encountered beasts.Only the player landing the killing blow will be credited with prestige points.</h3>
      <h3><b>When there are no more encounters to face, the game is over. At that time, the player with the most prestige points WINS,</b>and claims "The Sacred Item of Unimaginable marvel" </h3>
      <h3>One last thing, there are two conditions to winning.Prestige points alone are not enough... You have to LIVE. Towards the end of the game, those trailing in prestige may find themselves thrust suddenly to the top - if they can manage to have the leaders take one hit too many.</h3>
    </div>
  </div>
</div>
