<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="play"><a routerLink="/landing-page"><b>Play Game</b></a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/leaderboard">Leaderboard</a></li>
    </ul>
  </div>
</nav>


<div class="about-wrapper">
  <h1 id="creators">About The Creators</h1>

  <div class="kimlan panel-body well">
    <h1>Kimlan Nguyen</h1>
    <p>Text here<p>
  </div>
  <div class="julian panel-body well">
    <h1>Julian Flood</h1>
    <p>Text here<p>

  </div>
  <div class="jordan panel-body well">
    <h1>Jordan Loop</h1>
    <p>Text here<p>

  </div>
  <div class="corey panel-body well">
    <h1>Corey Redding</h1>
    <p>Text here<p>
  </div>
</div>
