<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="play"><a routerLink="/landing-page"><b>Play Game</b></a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/leaderboard">Leaderboard</a></li>
    </ul>
  </div>
</nav>


<div class="about-wrapper">
  <h1 id="creators">About The Creators</h1>

  <div class="kimlan panel-body well">
    <h1>Kimlan Nguyen</h1>
    <p>This guy is awesome. He is generous and has a great sense of humor. Everyone who knows Kimlan loves him. He likes having a beer or two with friends at Bailey's Tap Room, and has not missed a single taco tuesday at Kelly's. Kimlan is an aspiring programmer. You can see his awesome projects @ https://github.com/kimlan1510/</p>
  </div>
  <div class="julian panel-body well">
    <h1>Julian Flood</h1>
    <p>Text here<p>

  </div>
  <div class="jordan panel-body well">
    <h1>Jordan Loop</h1>
    <p>Jordan is enrolled in the C# course at Epicodus. He enjoys building practical applications to make common tasks easier. On the weekends he plays stratigy board games with friends and family, and hangs out with his wife and cat. You can check out some of his work on his <a href="https://github.com/Jordloop">Github</a>.</p>

  </div>
  <div class="corey panel-body well">
    <h1>Corey Redding</h1>
    <p>Text here<p>
  </div>
</div>
