<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/landing-page"><span class="play"><b>Play Game</b></span></a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/leaderboard">Leaderboard</a></li>
    </ul>
  </div>
</nav>


<div class="about about-wrapper">
  <h1 id="creators">About The Creators</h1>
  <div class="aboutUs">
    <div class="julian panel-body well">
      <h1>Julian Flood</h1>
      <h3>As a transplant from the Big Island of Hawaii, I now call Portland, Oregon home. I am an aspiring developer, and wish to further develop my skills and pursue a career in the field. In my spare time, I enjoy playing music, enjoying the beautiful outdoors of this state, and watching and playing basketball. Below is a link to my GitHub account which contains present and past projects!</h3>
      <a href="https://github.com/julianflood1">Click here to view my GitHub!</a>
    </div>

    <div class="kimlan panel-body well">
      <h1>Kimlan Nguyen</h1>
      <p>This guy is awesome. He is generous and has a great sense of humor. Everyone who knows Kimlan loves him. He likes having a beer or two with friends at Bailey's Tap Room, and has not missed a single taco tuesday at Kelly's. Kimlan is an aspiring programmer. You can see his awesome projects @ https://github.com/kimlan1510/</p>
    </div>

    <div class="jordan panel-body well">
      <h1>Jordan Loop</h1>
      <p>Jordan is enrolled in the C# course at Epicodus. He enjoys building practical applications to make common tasks easier. On the weekends he plays stratigy board games with friends and family, and hangs out with his wife and cat. You can check out some of his work on his <a href="https://github.com/Jordloop">Github</a>.</p>
    </div>
    <div class="corey panel-body well">
      <h1>Corey Redding</h1>
      <h3>Born in Ventura California, Southern California has been my home up until the last two years. A transplant to Oregon, in the hopes of finding a creative career in Portland. Graduated from Cal State University of Northridge in Graphic Design, I am a true lover of typography design and illustration, I hope to transfer all of my learned skills into the web development world. For an outdoor enthusiast, Oregon has some of the most gorgeous landscapes to explore, and is one of the reasons why I made the decision to move here. Although there is no NHL team here in Oregon (or WA) I get my hockey fix playing beer league here in the city and attending Winterhawks games. </h3>
    </div>
  </div>
</div>
