.panel:hover {
  transform: scale(1.05);
}

.panel-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.panel {
  width: 370px;
  display: flex;
  justify-content: center;
  margin: 15px;
  box-shadow: 2px 2px 10px lightgray;
  transition: all .3s ease-in-out;
}

img {
  width: 340px;
  height: 450px;
  display: flex;
  justify-content: center;
}

app-gameboard{
  display: none;
}

.splash {
  height:100vh;
  width: 100%;
  background-color: #130d0d;
  display: flex;
  justify-content: center;
}

.splash img {
  display: flex;
  transform: translate();
  height: 600px;
  width: 1100px;
  align-self: center;
  border: 25px solid #130d0d;
}
