

<h1>Enter Your Name</h1>
<input type="text" name="name" #Name>

<!-- <button type="button" name="button" (click)="createPlayer(Name.value, selectThisCharacter(character))">Create Player</button> -->


<h1>Choose Your Characters</h1>
<div class="panel-section" >
  <div *ngFor="let character of characters" class="panel panel-default" (click)="selectThisCharacter(character)">
    <div class="panel-body">
        <img src={{character.image}} />
        <h3>{{character.name}}</h3>
        <p>{{character.description}}</p>
    </div>
  </div>
</div>
