@font-face {
  font-family: "magicBoy";
  src: url("/fonts/magicy.ttf");
}

h1 {
  margin-top: 0;
}

.background {
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/81/3f/86/813f861ae7532162ea486ab2bc1399b6.jpg');
  background-position: center;
  background-repeat: repeat-y;
  background-origin: border-box;
  background-size: 100%;
  height: 1500px;
}

.panel:hover {
  transform: scale(1.05);
}

.panel-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.panel {
  width: 370px;
  background-image: url('http://2.bp.blogspot.com/-hbtq61HGDJk/T2HQ-e4ieTI/AAAAAAAABNA/wvak1oNrur8/s1600/Seamless+marble+texture+%252814%2529.jpg');
  display: flex;
  justify-content: center;
  margin: 15px;
  box-shadow: 2px 2px 15px black;
  transition: all .3s ease-in-out;
}

.cardName {
  font-family: magicBoy;
  font-weight: bold;
  padding: 7px;
  border-radius: 5px;
  border: 2.75px solid grey;
  border-top: 2.75px white;
  border-left: 2.75px white;
  color: black;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/4d/f7/69/4df7691c0dbc30cf2a67e307a9a46dd9.jpg');
  margin-top: 0px;
  // border-left-radius: 100%;
  // border-right-radius: 100%;
}

.cardDescription {
  padding: 7px;
  border-radius: 5px;
  border: 2.75px solid grey;
  border-top: 2.75px white;
  border-left: 2.75px white;
  color: black;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/4d/f7/69/4df7691c0dbc30cf2a67e307a9a46dd9.jpg');
  margin-top: 10px;
}

img {
  width: 340px;
  height: 450px;
  display: flex;
  justify-content: center;
}

app-gameboard{
  display: none;
}

.splash {
  height:100vh;
  width: 100%;
  background-color: #130d0d;
  display: flex;
  justify-content: center;
}

.splash img {
  position: relative;
  display: flex;
  transform: translate();
  height: 800px;
  width: 1200px;
  align-self: center;
}

.border {
  position: absolute;
  top: 310px;
  left: 225px;
  z-index: 1000;
  margin: 0;
  clear: both;
}

.border2 {
  position: absolute;
  top: 650px;
  right: 225px;
  z-index: 1000;
  margin: 0;
  transform: scaleX(-1);
  filter: FlipV;
  transform: rotate(180deg);
}

.border2 img {
  width: 110%;
  height: 110%;
}


.border img {
  width: 110%;
  height: 110%;
}

.selected {
  display: flex;
  justify-content: center;
}

.party {
  text-align: center;
}

.startButton {
  position: absolute;
  background-image: url('http://img.cadnav.com/allimg/130925/1-130925122R1S6.jpg');
  padding: 15px;
  width: 250px;
  height: 100px;
  border-radius: 5px;
  top: 500px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  font-family: magicBoy;
  font-weight: bold white;
}
