.panel:hover {
  transform: scale(1.05);
}

.panel-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.panel {
  width: 370px;
  display: flex;
  justify-content: center;
  margin: 15px;
  box-shadow: 2px 2px 10px lightgray;
}

img {
  width: 340px;
  height: 450px;
  display: flex;
  justify-content: center;
}
