
<div class="splash" *ngIf="splash" (click)="splashClicked()">
  <div class="border">
    <img src="http://worldartsme.com/images/gold-filigree-clipart-1.jpg" alt="" />
  </div>
  <div class="border2">
    <img src="http://worldartsme.com/images/gold-filigree-clipart-1.jpg" alt="" />
  </div>
  <img src="https://photos-2.dropbox.com/t/2/AACEf6Yb4kPtC28TCC_foikOAH6S8UI_ojpMdStPGCTiyQ/12/83363850/jpeg/32x32/1/_/1/2/splesh.jpg/EJia80AYUCAHKAc/2-xjKdl6DRsuG2ud1OTyoVqOumFJo8qICUa8tzcRqms?size=2048x1536&size_mode=3" alt="" />
</div>

<div class="background" *ngIf="characterSelect">



    <h1>Choose Your Characters</h1>
    <div class="panel-section">
      <div *ngFor="let character of characters" class="panel panel-default" (click)="selectThisCharacter(character)">
        <div class="panel-body">
          <h3 class="cardName">{{character.name}}</h3>
          <img src={{character.image}} />
          <p class="cardDescription">{{character.description}}</p>
        </div>
      </div>
    </div>

    <h1>Enter Your Name</h1>
    <input type="text" name="name" #Name>
    <button type="button" name="button" (click)="createPlayer(Name.value)" (click)="getLocalPlayers()">Create Player</button>

    <h3 class="party">Your Party</h3>
    <div class="selected" *ngIf="players != 'undefined'">
      <div *ngFor="let player of localPlayers">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src={{player.character.image}} />
            <h3>{{player.name}} as {{player.character.name}}</h3>
            <p>{{player.character.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="startGame">
    <button class="startButton" type="button" name="start" routerLink='gameboard'>Start Game</button>
  </div>
